<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>404 - Wallclubs.in</title>
</head>
<body>
<th:block th:replace="~{layout :: layout(title='404 - Wallclubs.in', description='Page not found', canonical='https://wallclubs.in/404', content=~{::content})}">
    <th:block th:fragment="content">
        <h1>Page Not Found</h1>
        <p>Sorry, we couldn’t find that page.</p>
        <a href="/" class="btn btn-primary">Back to Home</a>
    </th:block>
</th:block>
</body>
</html>