<th:block th:replace="~{layout :: layout(title='Wallclubs - Page Not Found', description='Oops! Page not found.', canonical='https://wallclubs.in/404', content=~{::content})}">
    <th:block th:fragment="content">
        <div class="container mt-4 text-center">
            <h1 class="display-4 mb-3">404 - Page Not Found</h1>
            <p class="lead mb-4">Oops! Looks like this page doesn’t exist—or maybe it’s hiding in a tech glitch!</p>
            <p><a href="/" class="btn btn-warning fw-bold">Back to Home</a></p>
        </div>
    </th:block>
</th:block>