<th:block th:replace="~{layout :: layout(title=${title}, description=${description}, canonical=${canonical}, content=~{::content})}">
    <th:block th:fragment="content">
        <h1 class="display-4 mb-3" th:text="${article.title}"></h1>
        <div class="mb-5 article-content" th:utext="${article.content}"></div>
        <!-- Comments Section -->
        <h2 class="mb-3">Comments</h2>
        <form th:action="@{/articles/{slug}/comment(slug=${article.slug})}" method="post" class="mb-4">
            <div class="mb-3">
                <label for="author" class="form-label">Your Name</label>
                <input type="text" class="form-control" id="author" name="author" required>
            </div>
            <div class="mb-3">
                <label for="text" class="form-label">Add Comment</label>
                <textarea class="form-control" id="text" name="text" rows="3" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <div th:each="comment : ${comments}">
            <p><strong th:text="${comment.author}"></strong>: <span th:text="${comment.text}"></span></p>
        </div>
        <div th:if="${nextArticle != null}" class="next-article mt-5">
            <h3 class="fw-bold">Read Next</h3>
            <p><a th:href="@{/articles/{slug}(slug=${nextArticle.slug})}" th:text="${nextArticle.title}" class="text-dark fs-4"><i class="bi bi-arrow-right ms-2"></i></a></p>
        </div>
    </th:block>
</th:block>